$primary-color: #ef850b; 
 body {
    background-color: #fee2d6;
    font-family: 'Roboto', sans-serif;
     font-size: 16px;
     }
  
     h2 {
    color:$primary-color;
     }
  
  #logo {
    display: flex;
    justify-content: center;
    background-color: #f4e1cb;
  
    img {
      width: 100%;
    }
  }
  
  #menu {
    margin-top: 20px;
  
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
  
      li {
        width: 100%;
  
        a {
          padding: 8px 10px;
          border: 1px solid $primary-color;
          display: block;
          text-align: center;
          text-decoration: none;
          background-color: $primary-color;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          ine-height: 1;
  
          &:hover {
            background-color: white;
            color: $primary-color;
          }
        }
  
        &.activo a {
          background-color: white;
          color: $primary-color;
        }
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    #menu ul li a {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 468px) {
    #menu ul li {
      a {
        padding: 3px 4px;
        font-size: 10px;
      }
  
      &.activo {
        display: none;
      }
    }
  }
  
  #home-intro p {
    color: chocolate;
  }
  
  
  
  #home__trabajos__imagenes {
    img {
      max-width: 100%;
    }
  
    a {
      img {
        transition: filter .3s;
      }
  
      &:hover img {
        filter: brightness(110%) saturate(200%) contrast(150%);
      }
    }
  }
  
  footer {
    text-align: center;
    padding: 30px 20px;
    background-color: $primary-color;
    font-size: 11px;
    margin-top: 30px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 300px 100px;
  
    
    grid: rows 40px 100px;
    grid-column: 50px 100px;
  }
  
  .grid-item {
    border: solid 2px red;
  }
  
  .instagram__video {
    display: flex;
    justify-content: center;
  }
  
  .btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
  
    &:hover {
      background-color: #b46408;
      border-color: #ef850b;
    }
  }
  